* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
  margin: 0;
}

.container {
  width: 100%;
}

header {
  box-shadow: 1px 3px 6px -1px rgb(165, 165, 165);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 10px auto;
  padding: 20px 5px;
}

nav .image-cover,
nav .btn-holder {
  width: 20%;
}

.nav-details {
  width: 50%;
}

.nav-details ul {
  display: flex;
  justify-content: space-around;
}

.nav-details ul li {
  list-style: none;
}

.nav-details ul li:first-child a {
  color: rgb(30, 30, 139);
}

.nav-details ul li a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(46, 45, 45);
}

section article {
  width: 70%;
  margin: 50px auto;
}

section article h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

section article p {
  text-align: center;
  width: 80%;
  margin: 15px auto;
  font-size: 17px;
}

section .btn-carrier {
  width: 35%;
  margin: 20px auto;
display: flex;
justify-content: space-around;
align-items: center;

}

 .btn1 {
  background-color: #6fc247;
 padding: 15px 25px;
  color: white;
  border: 1px solid #6fc247;
  border-radius: 10px;
}

.btn2 {
  background-color: #e7f5e0;
  padding: 15px 25px;
  color: #000;
  border: 1px solid #86bb69;
  border-radius: 10px;
} 

.partner-title h3 {
  text-align: center;
  width: 80%;
  margin: 15px auto;
  font-size: 17px;
  font-weight: 900;
} 

.partner-title p {
  text-align: center;
  width: 80%;
  margin: 15px auto;
  font-size: 17px;
  font-weight: 500;
} 

.why-valutico {
  margin:auto;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  padding: 20px;
}
.Valutico-info{
  text-align: center;
}
.val-box{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 6rem;
}

.last-section{
  margin:3rem 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:2.5rem;
}
.head{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.head h3{
  font-size: 20px;
  margin-bottom: 1rem;
}
.head p{
  width: 60%;
  text-align: center;
}
.valbox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5rem;
  width: 100%;
}
.val-img{
  width:100%;
}
.val-img img{
  width: 100%;
  height: auto;
}
.valbox .valtext{
  display: flex;
  flex-direction: column;
  width:50%;
  gap:6rem;
}
.aside p{
  margin-top:.5rem;
  width: 80%;
}
.req{
  width: 14rem;
  height:4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#6FC247;
  text-align: center;
  color: white;
  border-radius:10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border:1px solid #6FC247;
  text-decoration: none;
}


