*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
  width: 100%;
  height: 120px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  z-index: 12;
  top: 0;
  box-shadow: rgba(0,0,0,0.3) 4px 4px 5px;
  position: sticky;
  background: white;
}
.logo{
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: mixed;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem
}
nav li{
   display: inline-block;
   list-style: none;
   padding: 0px 20px;
}
a{
  text-decoration: none;
  color: inherit;
}

button{
color: #fff;
  background-color: #6FC247;
  padding: 24px 40px;
  border: none;
  border-radius: 8px;
  transition: all 0.4s ease 0s;
}
nav ul li a{
  font-size: 17px;
}
nav li a:hover{
  color: #6FC247;
  transition: all 0.4s ease 0s;
}
button:hover{
  background-color: grey;
}

main{
  padding: 40px 10%;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.head-content {
  max-width: 60.688rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.head_links{
  display: flex;
  justify-content: center;
  gap: 32px;
}

.head_links .white{
  background: #fff;
  color: green;
  border: 1px solid #6FC247;
}

.head-content h1 {
  font-size: 64px;
  font-weight: bolder;
}

.head-content p {
  font-size: 24px;
  line-height: 180%;
}
.head-image {
  width: 50%;
}
.head-image img{
  width: 100%;
}
.section {
  padding: 20px;
  margin-top: 40px; 
}

.trusted-firms h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  line-height: 150%;
}

.trusted-firms p {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

.trusted-logos{
  width: 70%;
  margin: 40px auto;
}

.trusted-logos img{
  width: 100%;
}

.upper-div h4{
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

section.black-background{
  background-color: black;
  padding: 25px;
  margin: 40px 20px;
  font-size: 20px;
}

section.black-background .black-div{
  width: 70%;
  margin: 20px auto;
  color: white;
}

section.black-background .black-div .upper-div p{
  text-align: center;
  margin-bottom: 10px;
}

section.black-background .black-div .lower-div {
  margin: 35px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

section.flag{
  font-size: 20px;
  padding: 25px;
  margin: 40px 0px;
}

.cancel{
  display: flex;
  justify-content: center;
  align-items: center;
}

.thug{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: #373737;
}
.thug p{
  text-align: center;
  width: 70%;
}

.valuation{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7rem;
  gap: 5rem;
}
.boxes{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:5rem;
}
.val-image{
  width: 100%;
  height: auto;
}
.val-image img{
  width: 100%;
}

.dave{
  display: flex;
  margin: 100px;
  margin-left: 100px;
  justify-content: center;
}